{% extends "main/accounts/profile.html" %}

{% block title %}Change password{% endblock %}

{% block nav %}
    {{ block.super }}
{% endblock %}

{% block details %}
    <div class="row">
        <div class="span3">
            <h2>Password</h2>
            <p>To change your password enter your old and new password</p>
        </div>
        <div class="span13">
            <form action="" method="post" class="form-stacked" style="margin-bottom:0;">
                <div class="alert-message block-message info" style="margin-bottom:0;">
                    {% csrf_token %}
                    <div class="row" style="margin-top:0;">
                        <div class="span3">
                            <div class="clearfix {% if form.old_password.errors %}error{% endif %}">
                                {{ form.old_password.label_tag }}
                                <div class="input">
                                    {{ form.old_password }}
                                    {% for error in form.old_password.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="clearfix {% if form.new_password1.errors %}error{% endif %}">
                                {{ form.new_password1.label_tag }}
                                <div class="input">
                                    {{ form.new_password1 }}
                                    {% for error in form.new_password1.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="clearfix {% if form.new_password2.errors %}error{% endif %}">
                                {{ form.new_password2.label_tag }}
                                <div class="input">
                                    {{ form.new_password2 }}
                                    {% for error in form.new_password2.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div style="position:absolute; right:10px; top:44px;">
                            <button class="btn success" type="submit">Change</button> <a class="btn" href="{% url profile %}" style="font-weight:normal;">Cancel</a>
                        </div>
                    </div> 
                </div>   
            </form>
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    		<a href="{% url profile %}">Your profile</a>
    		<span class="divider">/</span>
    	</li>
    	<li class="active">
    	    <a href="#">Change password</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe %}
{% endblock %}