{% extends "main/accounts/profile.html" %}

{% block title %}Edit contact details{% endblock %}

{% block nav %}
    {{ block.super }}
{% endblock %}

{% block details %}
    <div class="row">
        <div class="span3">
            <h2>Your details</h2>
            <p>NOTE: Your email is also your login for this site</p>
        </div>
        <div class="span13">
            <form action="" method="post" class="form-stacked">
                <div class="alert-message block-message info">
                    {% csrf_token %}
                    <div class="row">
                        <div class="span3">
                            <div class="clearfix {% if form.name.errors %}error{% endif %}">
                                {{ form.name.label_tag }}
                                <div class="input">
                                    {{ form.name }}
                                    {% for error in form.name.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="clearfix {% if form.username.errors %}error{% endif %}">
                                {{ form.username.label_tag }}
                                <div class="input">
                                    {{ form.username }}
                                    {% for error in form.username.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="clearfix {% if form.telephone.errors %}error{% endif %}">
                                {{ form.telephone.label_tag }}
                                <div class="input">
                                    {{ form.telephone }}
                                    {% for error in form.telephone.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div style="position:absolute; right:10px; top:49px;">
                            <button class="btn success" type="submit">Update profile</button> <a class="btn" href="{% url profile %}" style="font-weight:normal;">Cancel</a>
                        </div>
                    </div> 
                </div>   
            </form>
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    		<a href="{% url profile %}">Your profile</a>
    		<span class="divider">/</span>
    	</li>
    	<li class="active">
    	    <a href="#">Edit profile</a>
    	</li>
    </ul>
{% endblock %}

{% block todo %}
    <ul>
        <li>TODO: Take CSS out of HTML</li>
    </ul>
{% endblock %}