{% extends "main/base.html" %}

{% block title %}Forgotten password{% endblock %}
{% block header %}Forgotten password{% endblock %}

{% block content %}
    <ul>
        <li>Form asking for email address - we'll reset their password and send them an email. Works as a post, and says an email has been sent to them once clicked, with a link back to the non-logged in homepage</li>
    </ul>
{% endblock %}

{% block links %}
    <ul>
		<li><a href="{% url index %}">Back to not logged-in</a></li>
    </ul>
{% endblock %}