{% extends "main/base.html" %}

{% block title %}Homepage{% endblock %}

{% block nav %}
    {% with "home" as active %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block body %}
    <ul class="media-grid">
        <li>
            <a href="http://farm6.staticflickr.com/5028/5746556705_261a3cae3e.jpg">
                <img class="thumbnail" src="http://farm6.staticflickr.com/5028/5746556705_261a3cae3e.jpg" width="210" height="150" alt="">
            </a>
        </li>
        <li>
            <a href="http://farm6.staticflickr.com/5028/5746556705_261a3cae3e.jpg">
                <img class="thumbnail" src="http://farm6.staticflickr.com/5028/5746556705_261a3cae3e.jpg" width="210" height="150" alt="">
            </a>
        </li>
        <li>
            <a href="http://farm6.staticflickr.com/5028/5746556705_261a3cae3e.jpg">
                <img class="thumbnail" src="http://farm6.staticflickr.com/5028/5746556705_261a3cae3e.jpg" width="210" height="150" alt="">
            </a>
        </li>
        <li>
            <a href="http://farm6.staticflickr.com/5028/5746556705_261a3cae3e.jpg">
                <img class="thumbnail" src="http://farm6.staticflickr.com/5028/5746556705_261a3cae3e.jpg" width="210" height="150" alt="">
            </a>
        </li>
    </ul>
    <h1>Hello <a href="{% url profile %}">{{ user.get_profile.name }}</a>!</h1>
    <p>This site will help you keep track of what's going on with the samba band. The links in the black navigation bar above let you quickly get information about upcoming events, where our instruments are, and people's contact details. We'll also display the most relevant information below.</p>
    {% load get_instruments %}
    {% get_instruments as your_mia not_signed_in user %}
    {% if your_mia %}
        <div class="home-alert">
            <p><strong>Are there instruments you haven't signed in yet?</strong> According to our records you played the below but haven't returned them:</p>
            {% with your_mia as instrument_list %}
            <table style="background-color:#fff; margin-top:9px; margin-bottom:0px; border-radius:4px;">
                {% include 'main/instruments/instrument_mia_table.html' %}
            </table>
            {% endwith %}
        </div>
    {% endif %}
    <h3>Next Sambatage event</h3>
    {% load get_events %}
    {% get_future_events as event_list %}
    {% with event_list|slice:":1" as event_list %}
        {% include 'main/events/event_table.html' %}
    {% endwith %}
    <div class="row table-options">
        <div class="pull-right">
            <a href="{% url events_upcoming %}" class="btn info">View all upcoming events</a>
            <a href="{% url events_past %}" class="btn info">View past events</a>
        </div>
    </div>
    <h3>Instruments currently missing in action</h3>
    <p>The below instruments still haven't been signed in, more than 24 hours after the event they were signed out for... Shame on you!</p>
    {% load get_instruments %}
    {% get_instruments as instrument_list mia %}
    <table class="zebra-striped">
        {% include 'main/instruments/instrument_mia_table.html' %}
        {% if not instrument_list %}
            <tbody>
                <tr>
                    <td colspan="4">
                        All instruments are safely accounted for!
                    </td>
                </tr>
            </tbody>
        {% endif %}
    </table>
    <div class="row table-options">
        <div class="pull-right">
            <a href="{% url instrument_list %}" class="btn info">View all instruments</a>
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
    	<li class="active">
    		<a href="#">Home</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe %}
{% endblock %}