{% extends "main/base_new.html" %}

{% block title %}{% if target_user == user %}Your{% else %}{{ target_user.get_profile.name }}'s{% endif %} profile{% endblock %}

{% block nav %}
    {% if target_user == user %}
        {% with "profile" as active %}
            {% include 'main/nav.html' %}
        {% endwith %}
    {% else %}
        {% include 'main/nav.html' %}
    {% endif %}
{% endblock %}

{% block top %}
    {% block details %}
        <div class="row">
            <div class="span3">
                {% if target_user == user %}
                    <h2>Your details</h2>
                    <p>NOTE: Your email is also your login for this site</p>
                {% else %}
                    <h2>Details</h2>
                    <p>These are the contact details we have for {{ target_user.get_profile.name }}</p>
                {% endif %}
            </div>
            <div class="span13">
                <h2>&nbsp;</h2>
                <div class="row">
                    <div class="span3">
                        <p><strong>Name:</strong> {{ target_user.get_profile.name }}</p>
                    </div>
                    <div class="span4">
                        <p><strong>Email:</strong> {{ target_user.email }}</p>
                    </div>
                    <div class="span3">
                        <p><strong>Phone:</strong> {{ target_user.get_profile.telephone }}</p>
                    </div>
                    {% if target_user == user %}
                        <div class="span3">
                            <a class="info btn-inline btn" href="{% url edit_contact %}">Edit</a> <span class="info  btn-inline btn">Change password</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
    <hr>
    {% block instruments %}
        <div class="row">
            <div class="span3">
                {% if target_user == user %}
                    <h2>Instruments</h2>
                        <p>You are responsible for these instruments (until you sign them back in to the storeroom)</p>
                    </div>
                {% else %}
                    <h2>Instruments</h2>
                        <p>{{ target_user.get_profile.name }} is responsible for these instruments (until they're signed back in to the storeroom)</p>
                    </div>
                {% endif %}
            <div class="span13">
                <table class="zebra-striped">
                    {% load get_instruments %}
                    {% get_instruments as instrument_list mia target_user %}
                    {% include 'main/instruments/instrument_mia_table.html' %}
                </table>
            </div>
        </div>
    {% endblock %}
    <hr>
    {% block events %}
        <div class="row">
            <div class="span3">
                {% if target_user == user %}
                    <h2>Your events</h2>
                    <p>These are upcoming events you've booked an instrument for. Click on each one for more details</p>
                {% else %}
                    <h2>Events</h2>
                    <p>These are upcoming events {{ target_user.get_profile.name }} has booked an instrument for. Click on each one for more details</p>
                {% endif %}
            </div>
            <div class="span13">
                <table class="zebra-striped">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th width="85px">When</th>
                            <th>Location</th>
                            <th>Notes</th>
                            <th>Booking</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in target_user.get_profile.get_future_events %}
                            <tr>
                                <td>{{ event.get_linked_name }}</td>
                                <td>{{ event.start|date:"j M Y,"}}<br>{{ event.start|date:"P" }}</td>
                                <td>{{ event.location }}</td>
                                <td>{{ event.notes }}</td>
                                <td>
                                    <ul class="unstyled">
                                    {% for booking in event.bookings.all %}
                                        {% if booking.user == target_user %}
                                        <li>{{ booking.instrument.get_linked_name }}</li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5">
                                    {% if target_user == user %}
                                        You don't have any upcoming events
                                    {% else %}
                                        {{ target_user.get_profile.name }} doesn't have any upcoming events
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <thead>
                        <tr>
                            <td colspan="5">
                                <a href="{{ target_user.get_profile.get_past_events_url }}" class="btn info">View {% if target_user == user %}your{% else %}{{ target_user.get_profile.name }}'s{% endif %} past events</a>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block bottom %}
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    		<a href="{% url people %}">People</a>
    		<span class="divider">/</span>
    	</li>
    	<li class="active">
    	    <a href="#">{% if target_user == user %}Your{% else %}{{ target_user.get_profile.name }}'s{%endif %} profile</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe_content %}
    <ul>
        <li>TODO at next opportunity
            <ul>
                <li>Add change password functionality</li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block wireframe_links %}
    <ul>
        <li><a href="{% url change_password %}">Change password</a></li>
    </ul>
{% endblock %}