{% extends "main/base_new.html" %}

{% block title %}User profile{% endblock %}

{% block nav %}
    {% with "profile" as active %}
        {% include 'main/nav.html' %}
    {% endwith %}
{% endblock %}

{% block top %}
    {% block details %}
        <h2>Your details</h2>
        <div class="row">
            <div class="span4">
                <p><b>Name:</b> {{ user.get_profile.name }}</p>
            </div>
            <div class="span4">
                <p><b>Email:</b> {{ user.email }}</p>
            </div>
            <div class="span4">
                <p><b>Phone number:</b> {{ user.get_profile.telephone }}</p>
            </div>
            <div class="span4">
                <p><a class="info btn-inline btn" href="{% url edit_contact %}">Edit details</a> <span class="info btn-inline btn">Change password</span></p>
            </div>
        </div>
    {% endblock %}
    <hr>
    {% block events %}
    <h2>Your events</h2>
    <table class="zebra-striped">
        <thead>
            <tr>
                <th colspan="5"><h3>Upcoming events</h3></th>
            </tr>
            <tr>
                <th>Event</th>
                <th>When</th>
                <th>Location</th>
                <th>Notes</th>
                <th>Your instruments</th>
            </tr>
        </thead>
        <tbody>
            {% for event in user.get_profile.get_upcoming_events %}
                <tr>
                    <td><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></td>
                    <td>{{ event.when }}</td>
                    <td>{{ event.location }}</td>
                    <td>{{ event.notes }}</td>
                    <td>
                        {% for instrument in event.user_instruments %}
                            <a href="{{ instrument.get_absolute_url }}">{{ instrument.name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">You don't have any upcoming events</td>
                </tr>
            {% endfor %}
        </tbody>
        <thead>
            <tr>
                <th colspan="5"><h3>Past events</h3></th>
            </tr>
            <tr>
                <th>Event</th>
                <th>When</th>
                <th>Location</th>
                <th>Notes</th>
                <th>Your instruments</th>
            </tr>
        </thead>
        <tbody>
            {% for event in user.get_profile.get_past_events %}
                <tr>
                    <td><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></td>
                    <td>{{ event.when }}</td>
                    <td>{{ event.location }}</td>
                    <td>{{ event.notes }}</td>
                    <td>
                        {% for instrument in event.user_instruments %}
                            <a href="{{ instrument.get_absolute_url }}">{{ instrument.name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">You don't have any past events</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
{% endblock %}

{% block bottom %}
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li class="active">
    	    <a href="#">Your profile</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe_content %}
    <ul>
        <li>TODO at next opportunity
            <ul>
                <li>Make this all look a bit prettier</li>
                <li>Add change password functionality</li>
                <li>Adapt template or view so this can be used as the template for viewing other people's profiles</li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block wireframe_links %}
    <ul>
        <li><a href="{% url edit_contact %}">Edit contact details</a></li>
        <li><a href="{% url change_password %}">Change password</a></li>
    </ul>
{% endblock %}