{% extends "main/base_new.html" %}

{% block title %}{% if target_user == user %}Your{% else %}{{ target_user.get_profile.name }}'s{% endif %} profile{% endblock %}

{% block nav %}
    {% if target_user == user %}
        {% with "profile" as active %}
            {% include 'main/nav.html' %}
        {% endwith %}
    {% else %}
        {% include 'main/nav.html' %}
    {% endif %}
{% endblock %}

{% block top %}
    {% block details %}
        <div class="row">
            <div class="span3">
                {% if target_user == user %}
                    <h2>Your details</h2>
                    <p>NOTE: Your email is also your login for this site</p>
                {% else %}
                    <h2>Details</h2>
                    <p>These are the contact details we have for {{ target_user.get_profile.name }}</p>
                {% endif %}
            </div>
            <div class="span13">
                <h2>&nbsp;</h2>
                <div class="row">
                    <div class="span3">
                        <p><b>Name:</b> {{ target_user.get_profile.name }}</p>
                    </div>
                    <div class="span4">
                        <p><b>Email:</b> {{ target_user.email }}</p>
                    </div>
                    <div class="span3">
                        <p><b>Phone:</b> {{ target_user.get_profile.telephone }}</p>
                    </div>
                    {% if target_user == user %}
                        <div class="span3">
                            <a class="info btn-inline btn" href="{% url edit_contact %}">Edit</a> <span class="info  btn-inline btn">Change password</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
    <hr>
    {% block instruments %}
        <div class="row">
            <div class="span3">
                {% if target_user == user %}
                    <h2>Instruments</h2>
                        <p>You are responsible for these instruments (until you sign them back in to the storeroom)</p>
                    </div>
                {% else %}
                    <h2>Instruments</h2>
                        <p>{{ target_user.get_profile.name }} is responsible for these instruments (until they're signed back in to the storeroom)</p>
                    </div>
                {% endif %}
            <div class="span13">
                <table class="zebra-striped">
                    <thead>
                        <tr>
                            <th>Instrument name</th>
                            <th>Type</th>
                            <th>Last user</th>
                            <th>Next user</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in target_user.bookings.not_signed_in %}
                            {% with booking.instrument as instrument %}
                                <tr>
                                    <td>{{ instrument.get_linked_name }}</td>
                                    <td>{{ instrument.get_instrument_type_display }}</td>
                                    {% with instrument.get_last_booking as b %}
                                        <td>{{ b.user.get_profile.name }} at {{ b.event.get_linked_name }}</td>
                                    {% endwith %}
                                    {% with instrument.get_next_booking as b %}
                                        <td>{% if b %}{{ b.user.get_profile.name }} at {{ b.event.get_linked_name }}{% else %}No future bookings{% endif %}</td>
                                    {% endwith %}
                                    <td>
                                        {% if target_user == user %}
                                            <a href="{{ instrument.get_last_booking.get_signin_url }}" class="success btn-inline btn pull-right">Sign in</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endwith %}
                        {% empty %}
                            <tr>
                                <td colspan="5">
                                    {% if target_user == user %}
                                        You're not currently responsible for any instruments
                                    {% else %}
                                        {{ target_user.get_profile.name }} isn't currently responsible for any instruments
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}
    <hr>
    {% block events %}
        <div class="row">
            <div class="span3">
                {% if target_user == user %}
                    <h2>Your events</h2>
                    <p>These are upcoming events you've booked an instrument for. Click on each one for more details</p>
                {% else %}
                    <h2>Events</h2>
                    <p>These are upcoming events {{ target_user.get_profile.name }} has booked an instrument for. Click on each one for more details</p>
                {% endif %}
            </div>
            <div class="span13">
                <table class="zebra-striped">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>When</th>
                            <th>Location</th>
                            <th>Notes</th>
                            <th style="white-space: nowrap;">Booking</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in target_user.get_profile.get_future_events %}
                            <tr>
                                <td>{{ event.get_linked_name }}</td>
                                <td>{{ event.start }}</td>
                                <td>{{ event.location }}</td>
                                <td>{{ event.notes }}</td>
                                <td>
                                    <ul class="unstyled">
                                    {% for booking in event.user_bookings %}
                                        <li>{{ booking.instrument.get_linked_name }}</li>
                                    {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5">
                                    {% if target_user == user %}
                                        You don't have any upcoming events
                                    {% else %}
                                        {{ target_user.get_profile.name }} doesn't have any upcoming events
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="7">
                                <a href="#" class="btn info">View {% if target_user == user %}your{% else %}{{ target_user.get_profile.name }}'s{% endif %} past events</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block bottom %}
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    		<a href="{% url people %}">People</a>
    		<span class="divider">/</span>
    	</li>
    	<li class="active">
    	    <a href="#">{% if target_user == user %}Your{% else %}{{ target_user.get_profile.name }}'s{%endif %} profile</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe_content %}
    <ul>
        <li>TODO at next opportunity
            <ul>
                <li>Add change password functionality</li>
                <li>Add see user's past events functionality</li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block wireframe_links %}
    <ul>
        <li><a href="{% url change_password %}">Change password</a></li>
    </ul>
{% endblock %}