{% extends "main/base_new.html" %}

{% block title %}Sign-up page{% endblock %}

{% block top %}
    <div class="hero-unit">
    	<h1>Samba site</h1>
    	<p>Big sambatage logo will go here</p>
    </div>
    <div class="signup-header">
        <h1>Sign up for samba</h1>
    </div>
    <form id="signup-form" action="" method="post">
        {% csrf_token %}
        <fieldset>
            {% for boundfield in form %}
                <div class="clearfix {% if boundfield.errors %}error{% endif %}">
                    <div class="input">
                        {% if boundfield.errors %}
                            {% for error in boundfield.errors %}
                                <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-inline">{{ boundfield.help_text }}</span>
                        {% endif %}
                        {{ boundfield }}
    				</div>
    			</div>
    		{% endfor %}
    	</fieldset>
        <div class="input">
            <button class="btn large success" type="submit">Sign up</button>
        </div>
    </form>
{% endblock %}

{% block wireframe_content %}
    <ul>
        <li>TODO: on sign-up, send an email asking for authorisation to an admin, who then has to approve new members (at the moment it just creates a new user)</li>
    </ul>
{% endblock %}

{% block wireframe_links %}
    <ul>
        <li><a href="{% url index %}">Back to not logged-in (link the image)</a></li>
    </ul>
{% endblock %}