{% extends 'main/not_logged_in/index.html' %}

{% block title %}Forgotten password{% endblock %}

{% block index_right %}
    <h2>Lost password?</h2>
    <form id="login-form" action="" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{% url home %}">
        <fieldset style="padding-top:5px;">
            <div class="clearfix {% if form.email.errors %}error{% endif %}">
                <div class="input">
                    <p>Just type your email address below and we'll send you a link you can use to reset your password.</p>
                    {% for error in form.email.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                    {{ form.email }}
                </div>
            </div>
            <button class="btn large info" type="submit">Send reset email</button>
        </fieldset>
    </form>
{% endblock %}

{% block wireframe %}
{% endblock %}