{% extends "main/not_logged_in/index.html" %}

{% block title %}Password reset{% endblock %}

{% block body %}
    {% if validlink %}
        <div class="signup-header">
            <h1>Password reset</h1>
        </div>
        <form id="signup-form" action="" method="post">
            {% csrf_token %}
            <fieldset>
                {% for boundfield in form %}
                    <div class="clearfix {% if boundfield.errors %}error{% endif %}">
                        <div class="input">
                            {% if boundfield.errors %}
                                {% for error in boundfield.errors %}
                                    <span class="help-inline">{{ error }}</span>
                                {% endfor %}
                            {% else %}
                                <span class="help-inline">{{ boundfield.help_text }}</span>
                            {% endif %}
                            {{ boundfield }}
        				</div>
        			</div>
        		{% endfor %}
        	</fieldset>
            <div class="input">
                <button class="btn large success" type="submit">Reset password</button>
            </div>
        </form>
    {% else %}
        <div class="row">
            <div class="span14 offset1">
                <div class="login-unit">
                    <h1>Oops, something's gone wrong</h1>
                    <p>If you're trying to reset your password, make sure that the URL in your address bar matches the one we emailed you, and that you haven't already reset your password using that link. (You can request another password reset email if you need one.)</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block wireframe %}
{% endblock %}