<!DOCTYPE html>
<html>
<head>
    <title>Samba Site - {% block title %}Default{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}samba_base.css">
</head>
<body>
{% block nav %}
    {% include 'main/nav.html' %}
{% endblock %}
<div class="container">
        {% block content %}
        {% endblock %}
        
        <div class="content">
        <div class="row">
            <hr>
            <div class="span12">
                <h3>Content</h3>
                {% block wireframe_content %}
                {% endblock %}
            </div>
            <div class="span4">
                <h3>Links</h3>
                {% block wireframe_links %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>