<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="{% url index %}">Samba Site</a>
            {% if user.is_authenticated %}
                <ul class="nav">
                    <li {% if active == 'home' %}class="active"{% endif %}><a href="{% url index %}">Home</a></li>
                    <li {% if active == 'profile' %}class="active"{% endif %}><a href="{% url profile %}">Your Profile</a></li>
                    <li {% if active == 'events' %}class="active"{% endif %}><a href="{% url events_upcoming %}">Events</a></li>
                    <li {% if active == 'instruments' %}class="active"{% endif %}><a href="{% url instrument_list %}">Instruments</a></li>
                </ul>
                <ul class="nav secondary-nav">
                    <li>
                        <a href="#">
                            {{ user.get_profile.name }}
                        </a>
                    </li>
                    <li><a href="{% url logout %}">Logout</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</div>