{% extends "main/base_detailed.html" %}

{% block nav %}
    {% with "events" as active %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block admin_options %}
    <li><a href="{% url event_add %}" class="btn success btn-nav">Add event</a></li>
{% endblock %}

{% block title %}Upcoming events{% endblock %}

{% block body %}
    <h1>Upcoming events</h1>
    {% include 'main/events/event_table.html' %}
    <div class="row table-options">
        <div class="span12">
            {% load paginate %}
            {% display_pagination %}
            &nbsp;
        </div>
        <div class="pull-right">
            <a href="{% url events_past %}" class="btn info btn-paginate">View past events</a>
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li class="active">
    	    <a href="#">Events</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe %}
{% endblock %}