{% extends "main/not_logged_in/index.html" %}

{% block title %}Password reset{% endblock %}

{% block body %}
    {% if form %}
        <div class="signup-header">
            <h2>Password reset</h2>
        </div>
        <form id="signup-form" action="" method="post">
            {% csrf_token %}
            <fieldset>
                {% for boundfield in form %}
                    <div class="clearfix {% if boundfield.errors %}error{% endif %}">
                        <div class="input">
                            {% if boundfield.errors %}
                                {% for error in boundfield.errors %}
                                    <span class="help-inline">{{ error }}</span>
                                {% endfor %}
                            {% else %}
                                <span class="help-inline">{{ boundfield.help_text }}</span>
                            {% endif %}
                            {{ boundfield }}
        				</div>
        			</div>
        		{% endfor %}
        	</fieldset>
            <div class="input">
                <button class="btn large success" type="submit">Reset password</button>
            </div>
        </form>
    {% else %}
        <div class="row">
            <div class="offset1">
                <h2>Password reset successful!</h2>
                <p>Now all you need to do is sign in</p>
                <a class="btn large success" href="{% url login %}">To sign in page</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block wireframe %}
{% endblock %}