{% extends "main/not_logged_in/index.html" %}

{% block title %}Password reset{% endblock %}

{% block body %}
    <div class="row">
        <div class="span14 offset1">
            <div class="login-unit">
                <h2>Password reset successful!</h2>
                <p>Now all you need to do is sign in</p>
                <a class="btn large success" href="{% url login %}">To the sign in page!</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block wireframe %}
{% endblock %}