{% extends "main/not_logged_in/index.html" %}

{% block title %}Sign-up{% endblock %}

{% block body %}
    {% if form %}
        <div class="signup-header">
            <h1>Sign up for samba</h1>
        </div>
        <form id="signup-form" action="" method="post">
            {% csrf_token %}
            <fieldset>
                {% for boundfield in form %}
                    <div class="clearfix {% if boundfield.errors %}error{% endif %}">
                        <div class="input">
                            {% if boundfield.errors %}
                                {% for error in boundfield.errors %}
                                    <span class="help-inline">{{ error }}</span>
                                {% endfor %}
                            {% else %}
                                <span class="help-inline">{{ boundfield.help_text }}</span>
                            {% endif %}
                            {{ boundfield }}
        				</div>
        			</div>
        		{% endfor %}
        	</fieldset>
            <div class="input">
                <button class="btn large success" type="submit">Sign up</button>
            </div>
        </form>
    {% else %}
        <div class="row">
            <div class="span14 offset1">
                <div class="login-unit">
                    <h2>Sign up request submitted!</h2>
                    <p>Great! Your details have been sent to our admin team, who'll approve you to use the site as soon as they can. We'll send you an email once you've been approved and can use the site.</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}