{% extends "main/base.html" %}

{% block title %}Event list{% endblock %}
{% block header %}Event list{% endblock %}

{% block nav %}
    {% with "events" as active %}
        {% include 'main/nav.html' %}
    {% endwith %}
{% endblock %}

{% block content %}
    <ul>
        <li>List of events (may be future events, past events, etc. Same format.)
            <ul>
                <li>Name of the event</li>
                <li>When is it?</li>
                <li>Where</li>
                <li>Organiser (with contact details)</li>
                <li>Who's going (simple list)</li>
                <li>Label on each event for whether current number of sign-ups is enough (0-10, 10-15, 15+)</li>
            </ul>
        </li>
        <li><span class="label notice">Admin</span> Option to edit, delete and add events</li>
    </ul>
{% endblock %}

{% block links %}
    <ul>
        <li><a href="{% url event_detail %}">View specific event</a></li>
        <li><span class="label notice">Admin</span> <a href="{% url event_add %}">Add an event</a></li>
        <li><span class="label notice">Admin</span> <a href="{% url event_edit %}">Edit an event</a></li>
        <li><span class="label notice">Admin</span> <a href="{% url event_delete %}">Delete an event</a></li>
        <li><a href="{% url home %}">Back to homepage</a></li>
        <li><a href="{% url logout %}">Logout</a></li>
    </ul>
{% endblock %}