{% extends "main/events/event_add.html" %}

{% block title %}Edit event - {{ event }}{% endblock %}

{% block heading %}Edit {{ event }}{% endblock %}

{% block description %}
    <p>From here you can edit details of the event '{{ event }}'.</p>
{% endblock %}

{% block buttons %}
        <div class="input">
            <button class="btn success" type="submit">Update details</button>
            <a href="{{ event.get_absolute_url }}" class="btn danger">Cancel</a>
        </div>
{% endblock %}

{% block bottom %}
    <br>
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    	    <a href="{% url events_upcoming %}">Events</a>
    	    <span class="divider">/</span>
    	</li>
    	<li>
    	    {{ event.get_linked_name }}
    	    <span class="divider">/</span>
    	</li>
    	<li class="active">
    		<a href="#">Edit event</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe_content %}
    <ul>
        <li>TODO: make whole page admin only</li>
        <li>TODO: Set up email alerts for people playing instruments that the admin removes</li>
        <li>TODO: Set up an admin page allowing admins to select players for instruments</li>
    </ul>
{% endblock %}

{% block wireframe_links %}
{% endblock %}