{% extends "main/base_new.html" %}

{% block title %}Event detail{% endblock %}

{% block heading %}Event details for '{{ event.name }}'{% endblock %}

{% block sub-nav %}
    {% load get_events %}
    {% get_future_events as event_list %}
    <table class="condensed-table dimmed">
        <thead>
            <tr>
                <th>Upcoming events</th>
            </tr>
        </thead>
        <tbody>
            {% for item in event_list %}
                <tr {% if item == event %}class="highlighted"{% endif %}>
                    <td>
                        <a href="{{ item.get_absolute_url }}"><p><b>{{ item.name }}</b></p>
                        <p>{{ item.when }}</p></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block content %}
    <p><b>Name:</b> {{ event.name }}</p>
    <p><b>When:</b> {{ event.when }}</p>
    <p><b>Location:</b> {{ event.location }}</p>
    <p><b>Notes:</b> {{ event.notes }}</p>
    {% if event.bookings %}
        <p><b>Instruments:</b></p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Player</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for booking in event.bookings.all %}
                    <tr>
                        <td><a href="{{ booking.instrument.get_absolute_url }}">{{ booking.instrument.name }}</a></td>
                        <td>{{ booking.instrument.get_instrument_type_display }}</td>
                        <td>{% if booking.user %}{{ booking.user.get_profile.name }}{% else %}-{% endif %}</td>
                        {% if booking.user == user %}
                            <form action="{{ booking.cancel_booking_url}}" method="POST">
                                {% csrf_token %}
                                <td>
                                    <input type="submit" class="btn-inline btn error pull-right" value="Cancel booking" />
                                </td>
                            </form>
                        {% else %}
                            {% if not booking.user %}
                                <form action="{{ booking.make_booking_url}}" method="POST">
                                    {% csrf_token %}
                                    <td>
                                    <input type="submit" class="btn-inline btn success pull-right" value="Book this instrument" />
                                    </td>
                                </form>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block options %}
    <p><a href="{{ event.get_delete_url }}" class="btn danger">Delete event</a></p>
    <p><a href="#" class="btn info">Edit event</a></p>
    <p><a href="{% url events_upcoming %}">Back to events list</a></p>
{% endblock %}

{% block bottom %}
    <br>
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    	    <a href="{% url events_upcoming %}">Events</a>
    	    <span class="divider">/</span>
    	</li>
    	<li class="active">
    		<a href="#">{{ event.name }}</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe_content %}
    <ul>
        <li>TODO at next opportunity
            <ul>
                <li>Add 'edit event' functionality</li>
                <li>Fix CSS so the table border in the main area lines up with the rest of the content nicely</li>
                <li>Fix CSS in sub-nav so that it's not really ugly</li>
            </ul>
        </li>
        <li>TODO lower priority
            <ul>
                <li>Add 'organiser' field to events</li>
                <li>Set up a different event view that is used for events that happened in the past (which allows users to sign their instruments back in, and won't let people sign up for the event)</li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block wireframe_links %}
    <ul>
        <li><span class="label notice">Admin</span> <a href="{% url event_edit %}">Edit event</a></li>
        <li><a href="{% url instrument_signin %}">Sign instrument back in</a></li>
    </ul>
{% endblock %}