{% extends "main/base_detailed.html" %}

{% block title %}Past events{% endblock %}

{% block main %}
    <h1>Past events</h1>
    {% include 'main/events/event_table.html' %}
    <div class="row table-options">
        <div class="span12">
            {% load paginate_class %}
            {% pagination_class %}
            &nbsp;
        </div>
        <div class="pull-right">
            <a href="{% url events_upcoming %}" class="btn info btn-paginate">View upcoming events</a>
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li class="active">
    	    <a href="#">Events</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe %}
{% endblock %}