{% extends "main/events/event_edit.html" %}

{% block title %}Add event{% endblock %}

{% block heading %}Add an event{% endblock %}

{% block description %}
    <p>Please use the location box for the meeting point, and the time box for the meeting time. You can then add any further details in the notes box.</p>
{% endblock %}
    
{% block buttons %}
    <div class="input">
        <button class="btn success" type="submit">Add event</button>
        <a href="{% url events_upcoming %}" class="btn danger">Cancel</a>
    </div>
{% endblock %}


{% block admin_options %}
{% endblock %}

{% block bottom %}
    <br>
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    	    <a href="{% url events_upcoming %}">Events</a>
    	    <span class="divider">/</span>
    	</li>
    	<li class="active">
    		<a href="#">Add event</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe %}
{% endblock %}