{% extends "main/base_new.html" %}

{% block title %}Upcoming events{% endblock %}

{% block nav %}
    {% include 'main/nav.html' %}
{% endblock %}

{% block top %}
{% endblock %}

{% block body %}
    <table class="zebra-striped">
        <thead>
            <tr>
                <th>Event</th>
                <th>When</th>
                <th>Location</th>
                <th>Notes</th>
                <th>Instruments</th>
            </tr>
        </thead>
        <tbody>
            {% for event in event_list %}
                <tr>
                    <td>{{ event.get_linked_name }}</td>
                    <td>{{ event.start|date:"jS N Y, P" }}</td>
                    <td>{{ event.location }}</td>
                    <td>{{ event.notes }}</td>
                    {% with event.get_sign_ups.count as x %}
                        <td><span class="label {{ event.get_label }}">
                            {{ x }}</span> instrument{{ x|pluralize }} signed up
                        </td>
                    {% endwith %}
                </tr>
            {% endfor %}
            {% block table_buttons %}
            {% endblock %}
        </tbody>
    </table>
{% endblock %}

{% block bottom %}
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li class="active">
    	    <a href="#">Events</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe_content %}
{% endblock %}

{% block wireframe_links %}
{% endblock %}