{% extends "main/events/event_detail.html" %}

{% block title %}Edit event - {{ event }}{% endblock %}

{% block heading %}Edit {{ event }}{% endblock %}

{% block content %}
    {% block description %}
        <p>From here you can edit details of the event '{{ event }}'.</p>
    {% endblock %}
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            {% for boundfield in form.non_instrument_fields %}
                <div class="clearfix {% if boundfield.errors %}error{% endif %}">
                    {{ boundfield.label_tag }}
                    <div class="input">
                        {{ boundfield }}
                        {% if boundfield.errors %}
                            {% for error in boundfield.errors %}
                                <span class="{% if boundfield.name == "name" or boundfield.name == "notes"  %}help-block{% else %}help-inline{% endif %}">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-inline">{{ boundfield.help_text }}</span>
                        {% endif %}
    				</div>
    			</div>
    		{% endfor %}
			<div class="clearfix">
			    <label id="optionsCheckboxes">Instruments</label>
			    <div class="input with-help">
			        <ul class="inputs-list">
                        <div class="optionsCheckboxes-help help-inline">These are the instruments which can be signed out for this event</div>
			            {% for boundfield in form.instrument_fields %}
			                <li>
    			                <label>
    			                    {{ boundfield }}
    			                    <span>{{ boundfield.label }}</span>
    			                </label>
    			            </li>
    			        {% endfor %}
			        </ul>
			    </div>
			</div>
    	</fieldset>
    	{% block buttons %}
                <div class="input">
                    <button class="btn success" type="submit">Update details</button>
                    <a href="{{ event.get_absolute_url }}" class="btn danger">Cancel</a>
                </div>
        {% endblock %}
    </form>
{% endblock %}

{% block bottom %}
    <br>
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    	    <a href="{% url events_upcoming %}">Events</a>
    	    <span class="divider">/</span>
    	</li>
    	<li>
    	    {{ event.get_linked_name }}
    	    <span class="divider">/</span>
    	</li>
    	<li class="active">
    		<a href="#">Edit event</a>
    	</li>
    </ul>
{% endblock %}

{% block todo %}
    <ul>
        <li>TODO: Set up email alerts for people playing instruments that the admin removes</li>
        <li>TODO: Set up an admin page allowing admins to select players for instruments</li>
    </ul>
{% endblock %}