{% extends "main/base_new.html" %}

{% block title %}Event list{% endblock %}

{% block nav %}
    {% with "events" as active %}
        {% include 'main/nav.html' %}
    {% endwith %}
{% endblock %}

{% block top %}
    <h1>Event list</h1>
    {% load get_events %}
    {% get_future_events as event_list %}
    <table class="zebra-striped">
        <thead>
            <tr>
                <th>Event</th>
                <th>When</th>
                <th>Location</th>
                <th>Notes</th>
                <th>Instruments</th>
            </tr>
        </thead>
        <tbody>
            {% for event in event_list %}
                <tr>
                    <td><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></td>
                    <td>{{ event.when }}</td>
                    <td>{{ event.location }}</td>
                    <td>{{ event.notes }}</td>
                    {% with event.bookings.signed_up.count as x %}
                        <td>{{ x }} instrument{{ x|pluralize }} signed up</td>
                    {% endwith %}
                </tr>
            {% endfor %}
            <tr>
                <td colspan="7">
                    <a href="{% url event_add %}" class="btn success">Add event</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block bottom %}
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li class="active">
    	    <a href="#">Events</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe_content %}
    <ul>
        <li>List of events (may be future events, past events, etc. Same format.)
            <ul>
                <li>Name of the event</li>
                <li>When is it?</li>
                <li>Where</li>
                <li>Organiser (with contact details)</li>
                <li>Who's going (simple list)</li>
                <li>Label on each event for whether current number of sign-ups is enough (0-10, 10-15, 15+)</li>
            </ul>
        </li>
        <li><span class="label notice">Admin</span> Option to edit, delete and add events</li>
    </ul>
{% endblock %}

{% block wireframe_links %}
    <ul>
        <li><a href="{% url event_detail %}">View specific event</a></li>
        <li><span class="label notice">Admin</span> <a href="{% url event_add %}">Add an event</a></li>
        <li><span class="label notice">Admin</span> <a href="{% url event_edit %}">Edit an event</a></li>
        <li><span class="label notice">Admin</span> <a href="{% url event_delete %}">Delete an event</a></li>
        <li><a href="{% url home %}">Back to homepage</a></li>
        <li><a href="{% url logout %}">Logout</a></li>
    </ul>
{% endblock %}