{% extends "main/base_new.html" %}

{% block title %}Past events{% endblock %}

{% block top %}
    <h1>Past events</h1>
{% endblock %}

{% block body %}
<table class="zebra-striped">
    {% include 'main/events/event_table.html' %}
    <thead>
        <tr>
            <td colspan="5">
                <a href="{% url events_upcoming %}" class="btn info">View upcoming events</a>
            </td>
        </tr>
    </thead>
</table>
{% endblock %}

{% block bottom %}
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li class="active">
    	    <a href="#">Events</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe %}
{% endblock %}