{% extends "main/base.html" %}

{% block title %}Edit event{% endblock %}
{% block header %}Edit event{% endblock %}

{% block content %}
    <ul>
        <li><span class="label notice">Admin</span> Whole page is admin only</li>
        <li>Basic form to edit events.</li>
    </ul>
{% endblock %}

{% block links %}
    <ul>
        <li><a href="{% url event_detail %}">Back to event details</a></li>
        <li><a href="{% url events_upcoming %}">Back to event list</a></li>
        <li><a href="{% url home %}">Back to homepage</a></li>
        <li><a href="{% url logout %}">Logout</a></li>
    </ul>
{% endblock %}