{% extends "main/base_detailed.html" %}

{% block title %}Event detail{% endblock %}

{% block heading %}{{ event.name }} <small>Event details</small>{% endblock %}

{% block sub-nav %}
    {% load get_events %}
    {% get_future_events as event_list %}
    <table class="condensed-table dimmed">
        <thead>
            <tr>
                <th><a href="{% url events_upcoming %}">Upcoming events</a></th>
            </tr>
        </thead>
        <tbody>
            {% for item in event_list|slice:":10" %}
                <tr {% if item == event %}class="highlighted"{% endif %}>
                    <td><a href="{{ item.get_absolute_url }}">
                        <strong>{{ item.name }}</strong><br>
                        {{ item.start|date:"j M Y, P" }}
                    </a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block admin_options %}
    <li><a href="{{ event.get_delete_url }}" class="btn danger btn-nav">Delete</a></li>
    {% if not event.start|timeuntil == "0 minutes" %}
        <li><a href="{{ event.get_edit_url }}" class="btn info btn-nav">Edit details</a></li>
        <li><a href="{{ event.get_edit_players_url }}" class="btn info btn-nav">Edit players</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span2">
            <p><strong>Name:</strong></p>
        </div>
        <div class="span10">
            <p>{{ event }}</p>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <p><strong>When:</strong></p>
        </div>
        <div class="span10">
            <p>{{ event.start|date:"jS F Y, P" }}
                {% if event.start|timeuntil == "0 minutes" %}
                    <span class="label notice">This event has already taken place</span>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <p><strong>Location:</strong></p>
        </div>
        <div class="span10">
            <p>{{ event.location }}</p>
        </div>
    </div>
    {% if event.start|timeuntil == "0 minutes" or event.coordinator and event.coordinator != user %}
        <div class="row">
            <div class="span2">
                <p><strong>Coordinator:</strong></p>
            </div>
            <div class="span10">
                <p>{% if event.coordinator %}{{ event.coordinator.get_profile.get_linked_name }}{% else %}None{% endif %}</p>
            </div>
        </div>
    {% else %}
        {% if not event.coordinator %}
            <form action="{{ event.get_coordinate_url }}" method="POST" style="margin-bottom:0px;">
            {% csrf_token %}
                <div class="row">
                    <div class="span2">
                        <p><strong>Coordinator:</strong></p>
                    </div>
                    <div class="span10">
                        <p><input type="submit" class="btn-inline btn success" value="Sign up as event coordinator" /></p>
                    </div>
                </div>
            </form>
        {% else %}
            <form action="{{ event.get_cancel_coordinate_url }}" method="POST" style="margin-bottom:0px;">
            {% csrf_token %}
                <div class="row">
                    <div class="span2">
                        <p><strong>Coordinator:</strong></p>
                    </div>
                    <div class="span10">
                        <p>
                            {{ event.coordinator.get_profile.get_linked_name }} &nbsp;&nbsp;
                            <button type="submit" class="btn-inline btn error">Remove me</button>
                        </p>
                    </div>
                </div>
            </form>
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="span2">
            <p><strong>Notes:</strong></p>
        </div>
        <div class="span10">
            <p>{{ event.notes }}</p>
        </div>
    </div>
    {% block instruments %}
        <h3>Instruments</h3>
        <table class="zebra-striped">
            <thead>
                <tr>
                    <th colspan="4" style="padding-bottom:0;">
                        <h4>Signed up</h4>
                    </th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Player</th>
                    <th>{% if event.start|timeuntil == "0 minutes" %}Status{% endif %}</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in event.get_sign_ups %}
                    <tr>
                        <td>
                            {{ booking.instrument.get_linked_name }}
                            {% if booking.instrument.damaged %} <span class="label important">Dmg</span>{% endif %}
                            {% if not booking.instrument.get_signed_in %} <span class="label warning">MIA</span>{% endif %}
                            </td>
                        <td>{{ booking.instrument.get_instrument_type_display }}</td>
                        <td>{% if booking.user %}{{ booking.user.get_profile.get_linked_name }}{% else %}-{% endif %}</td>
                        {% if event.start|timeuntil == "0 minutes" %}
                            {% if booking.signed_in %}
                                <td>Returned</td>
                            {% else %}
                                <td>Not yet returned
                                    {% if user == booking.user %}
                                        <a href="{{ booking.get_signin_url }}" class="success btn-inline btn pull-right">Sign in</a>
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% else %}
                            {% if booking.user == user %}
                                <form action="{{ booking.get_cancel_url}}" method="POST">
                                    {% csrf_token %}
                                    <td>
                                        <input type="submit" class="btn-inline btn error pull-right" value="Cancel booking" />
                                    </td>
                                </form>
                            {% else %}
                                {% if not booking.user %}
                                    <form action="{{ booking.get_book_url}}" method="POST">
                                        {% csrf_token %}
                                        <td>
                                        <input type="submit" class="btn-inline btn success pull-right" value="Book this instrument" />
                                        </td>
                                    </form>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No instruments signed up yet!</td>
                    </tr>
                {% endfor %}
            </tbody>
            {% if not event.start|timeuntil == "0 minutes" %}
                <thead>
                    <tr>
                        <th colspan="4" style="padding-bottom:0;">
                            <h4>Available</h4>
                        </th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Player</th>
                        <th>{% if event.start|timeuntil == "0 minutes" %}Status{% endif %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in event.get_available %}
                        <tr>
                            <td>
                                {{ booking.instrument.get_linked_name }}
                                {% if booking.instrument.damaged %} <span class="label important">Dmg</span>{% endif %}
                                {% if not booking.instrument.get_signed_in %} <span class="label warning">MIA</span>{% endif %}
                                </td>
                            <td>{{ booking.instrument.get_instrument_type_display }}</td>
                            <td>{% if booking.user %}{{ booking.user.get_profile.get_linked_name }}{% else %}-{% endif %}</td>
                            {% if event.start|timeuntil == "0 minutes" %}
                                {% if booking.signed_in %}
                                    <td>Returned</td>
                                {% else %}
                                    <td>Not yet returned
                                        {% if user == booking.user %}
                                            <a href="{{ booking.get_signin_url }}" class="success btn-inline btn pull-right">Sign in</a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% else %}
                                {% if booking.user == user %}
                                    <form action="{{ booking.get_cancel_url}}" method="POST">
                                        {% csrf_token %}
                                        <td>
                                            <input type="submit" class="btn-inline btn error pull-right" value="Cancel booking" />
                                        </td>
                                    </form>
                                {% else %}
                                    {% if not booking.user %}
                                        <form action="{{ booking.get_book_url}}" method="POST">
                                            {% csrf_token %}
                                            <td>
                                            <input type="submit" class="btn-inline btn success pull-right" value="Book this instrument" />
                                            </td>
                                        </form>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No instruments available!</td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
    {% endblock %}
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    	    <a href="{% url events_upcoming %}">Events</a>
    	    <span class="divider">/</span>
    	</li>
    	<li class="active">
    		<a href="#">{{ event }}</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe %}
{% endblock %}