{% extends "main/instruments/instrument_add.html" %}

{% block title %}Edit instrument - {{ instrument.name }}{% endblock %}

{% block heading %}Edit {{ instrument.name }}{% endblock %}

{% block description %}
    <p>From here you can edit details of the instrument '{{ instrument.name }}'.</p>
{% endblock %}

{% block buttons %}
        <div class="input">
            <button class="btn success" type="submit">Update details</button>
            <a href="{{ instrument.get_absolute_url }}" class="btn danger">Cancel</a>
        </div>
{% endblock %}

{% block bottom %}
    <br>
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    	    <a href="{% url instrument_list %}">Instruments</a>
    	    <span class="divider">/</span>
    	</li>
    	<li>
    	    {{ instrument.get_linked_name }}
    	    <span class="divider">/</span>
    	</li>
    	<li class="active">
    		<a href="#">Edit instrument</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe_content %}
    <ul>
        <li>TODO: make whole page admin only</li>
    </ul>
{% endblock %}

{% block wireframe_links %}
{% endblock %}