{% extends "main/base.html" %}

{% block title %}Instruments{% endblock %}

{% block admin_options %}
    <li><a href="{% url instrument_add %}" class="btn success btn-nav">Add instrument</a></li>
{% endblock %}

{% block main %}
    <h1>Deceased instruments <small>previously owned by the band</small></h1>
    <table class="zebra-striped">
        <thead>
            <tr>
                <th>Instrument name</th>
                <th>Type</th>
                <th>Last user</th>
                <th>Date removed</th>
                <th>Note when removed from band's instrument list</th>
            </tr>
        </thead>
        <tbody>
            {% for instrument in instrument_list %}
                <tr>
                    <td>{{ instrument.get_linked_name }}</td>
                    <td>{{ instrument.get_instrument_type_display }}</td>
                    {% with instrument.get_last_booking as b %}
                        <td>{% if b %}{{ b.user.get_profile.get_linked_name }} at {{ b.event.get_linked_name }}{% else %}Brand new!{% endif %}</td>
                    {% endwith %}
                    <td>{{ instrument.get_removed_note.date_made }}</td>
                    <td>{{ instrument.get_removed_note.note }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No deceased instruments here!</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row table-options">
        <div class="span12">
            {% load paginate %}
            {% pagination %}
            &nbsp;
        </div>
        <div class="pull-right">
            <a href="{% url instrument_list %}" class="btn info btn-paginate">View current instruments</a>
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    		<a href="{% url instrument_list %}">Instruments</a>
    		<span class="divider">/</span>
    	</li>
    	<li class="active">
    	    <a href="#">Deceased instruments</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe %}
{% endblock %}