{% extends "main/instruments/instrument_detail.html" %}

{% block title %}Instrument sign-in{% endblock %}

{% block top %}
    <form action="" method="post" class="form-stacked">
        {% csrf_token %}
        <div class="alert-message block-message success">
            <div class="row">
                <div class="span5">
                    <p>As an admin you can mark any booking as signed in. Use the drop down menu to select the last booking after which this instrument was returned.</p>
                    <br>
                    <p>(Normally there will only be one option, but if several events have passed since this instrument was signed in you can choose between them.)</p>
                </div>
                <div class="span10">
                    <fieldset style="padding-top:0; margin-bottom:0;">
                        <div class="clearfix {% if form.note.errors %}error{% endif %}" style="margin-top:0;">
                            {{ form.booking.label_tag }}
                            <div class="input">
                                {{ form.booking }}
                                {% if form.booking.errors %}
                                    {% for error in form.booking.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                {% else %}
                                    <span class="help-block">{{ form.booking.help_text }}</span>
                                {% endif %}
            				</div>
            			</div>
                        <div class="clearfix {% if form.note.errors %}error{% endif %}" style="margin-bottom:0;">
                            {{ form.note.label_tag }}
                            <div class="input">
                                {{ form.note }}
                                {% if form.note.errors %}
                                    {% for error in form.note.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                {% else %}
                                    <span class="help-block">{{ form.note.help_text }}</span>
                                {% endif %}
            				</div>
            			</div>
                        <div class="clearfix">
            			    <div class="input">
            			        <ul class="inputs-list" style="padding-top:0px;">
        			                <li>
            			                <label>
            			                    {{ form.damaged }}
            			                    <span>{{ form.damaged.label }}</span>
            			                </label>
            			            </li>
            			        </ul>
            			    </div>
            			</div>
                	</fieldset>
                    <div class="alert-actions">
                        <button class="btn" type="submit">Sign instrument in</button>
                        <a class="btn" href="{{ instrument.get_absolute_url }}" style="font-weight:normal;">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    	    <a href="{% url instrument_list %}">Instruments</a>
    	    <span class="divider">/</span>
    	</li>
    	<li>
    		{{ instrument.get_linked_name }}
    		<span class="divider">/</span>
    	</li>
    	<li class="active">
    		<a href="#">Sign in instrument (admin)</a>
    	</li>
    </ul>
{% endblock %}