{% extends "main/base_new.html" %}

{% block title %}Instrument detail{% endblock %}

{% block heading %}Instrument details for '{{ instrument.name }}'{% endblock %}

{% block sub-nav %}
    {% load get_instruments %}
    {% get_instruments as instrument_list %}
    <table class="condensed-table dimmed">
        <thead>
            <tr>
                <th colspan="2">All instruments</th>
            </tr>
        </thead>
        <tbody>
            {% for item in instrument_list %}
                <tr {% if item == instrument %}class="highlighted"{% endif %}>
                    <td><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></td>
                    <td>{% if item.damaged %}<span class="label important">Damaged</span>{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span2">
            <p><b>Name:</b></p>
        </div>
        <div class="span8">
            <p>{{ instrument.name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <p><b>Type:</b></p>
        </div>
        <div class="span8">
            <p>{{ instrument.get_instrument_type_display }}</p>
        </div>
    </div>
    {% if instrument.damaged %}
        <div class="row">
            <div class="span2">
                <p><b>Damage:</b></p>
            </div>
            <div class="span8">
                <p>This instrument is flagged as damaged</p>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="span2">
            <p><b>Location:</b></p>
        </div>
        <div class="span8">
            <p>
                {{ instrument.location }}
                {% if instrument.last_booking.user == user and not instrument.last_booking.signed_in %}
                    <a href="{{ instrument.last_booking.get_signin_url }}" class="success btn-inline btn">Sign in</a>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <p><b>Last user:</b></p>
        </div>
        <div class="span8">
            <p>
                {% with instrument.last_booking as b %}
                    {% if b %}
                        {{ b.user.get_profile.name }} played {{ instrument.name }} at <a href="{{ b.event.get_absolute_url }}">{{ b.event.name }}</a>, {{ b.event.start|timesince }} ago
                    {% else %}
                        Brand new!
                    {% endif %}
                {% endwith %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <p><b>Next booking:</b></p>
        </div>
        <div class="span8">
            <p>
                {% with instrument.next_booking as b %}
                    {% if b %}
                        {{ b.user.get_profile.name }} is playing {{ instrument.name }} at <a href="{{ b.event.get_absolute_url }}">{{ b.event.name }}</a> in {{ b.event.start|timeuntil }} time
                    {% else %}
                        No future bookings
                    {% endif %}
                {% endwith %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <p><b>Notes:</b></p>
        </div>
        <div class="span8">
            <p>TODO - add most recent note here</p>
        </div>
    </div>
    {% if instrument.past_bookings %}
        <p><b>History:</b></p>
        <table>
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Date</th>
                    <th>Player</th>
                    <th>Notes when returned</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in instrument.past_bookings %}
                    <tr>
                        <td><a href="{{ booking.event.get_absolute_url }}">{{ booking.event.name }}</a></td>
                        <td>{{ booking.event.start|date:"jS F, Y"  }}</td>
                        <td>{{ booking.user.get_profile.name }}</td>
                        <td>TODO: add notes</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block options %}
    <p><a href="{{ instrument.get_delete_url }}" class="btn danger">Delete instrument</a></p>
    <p><a href="{{ instrument.get_edit_url }}" class="btn info">Edit instrument</a></p>
    <p><a href="{{ instrument.last_booking.get_signin_url }}" class="btn success">Sign instrument in</a></p>
    <p><a href="{% url instrument_list %}">Back to instruments list</a></p>
{% endblock %}

{% block bottom %}
    <br>
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    	    <a href="{% url instrument_list %}">Instruments</a>
    	    <span class="divider">/</span>
    	</li>
    	<li class="active">
    		<a href="#">{{ instrument.name }}</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe_content %}
    <ul>
        <li>TODO after adding event functionality:
            <ul>
                <li>Add pagination to the above list of past events, or limit them to the last 10</li>
                <li>Add ability to make notes, and figure out a sensible way of displaying them alongside events</li>
            </ul>
        </li>
        <li>TODO lower priority:
            <ul>
                <li>Build admin distinction, so buttons aren't shown to everyone</li>
                <li>Make table CSS prettier (flush with rest of content?)</li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block wireframe_links %}
{% endblock %}