{% extends "main/instruments/instrument_edit.html" %}

{% block title %}Add instrument{% endblock %}

{% block heading %}Add an instrument{% endblock %}

{% block description %}
    <p>From here you can add an instrument to the list of instruments the band owns.</p>
{% endblock %}

{% block buttons %}
<div class="input">
    <button class="btn success" type="submit">Add instrument</button>
    <a href="{% url instrument_list %}" class="btn danger">Cancel</a>
</div>
{% endblock %}

{% block admin_options %}
{% endblock %}

{% block bottom %}
    <br>
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    	    <a href="{% url instrument_list %}">Instruments</a>
    	    <span class="divider">/</span>
    	</li>
    	<li class="active">
    		<a href="#">Add instrument</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe %}
{% endblock %}