    <thead>
        <tr>
            <th>Instrument name</th>
            <th>Type</th>
            <th>Last user</th>
            <th>Next user</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for instrument in instrument_list %}
            <tr>
                <td>{{ instrument.get_linked_name }}</td>
                <td>{{ instrument.get_instrument_type_display }}</td>
                {% with instrument.get_last_booking as b %}
                    <td>{% if b %}{{ b.user.get_profile.get_linked_name }} at {{ b.event.get_linked_name }}{% else %}Brand new!{% endif %}</td>
                {% endwith %}
                {% with instrument.get_next_booking as b %}
                    <td>{% if b %}{{ b.user.get_profile.get_linked_name }} at {{ b.event.get_linked_name }}{% else %}No future bookings{% endif %}</td>
                {% endwith %}
                <td>
                    {% if instrument.get_last_booking.user == user and not instrument.get_last_booking.signed_in %}
                        <a href="{{ instrument.get_last_booking.get_signin_url }}" class="success btn-inline btn pull-right">Sign in</a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}  
            <tr>
                <td colspan="5">
                    {% if not target_user %}
                        All instruments are safely accounted for!
                    {% else %}
                        {% if target_user == user %}
                            You're not currently responsible for any instruments
                        {% else %}
                            {{ target_user.get_profile.name }} isn't currently responsible for any instruments
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>