{% extends "main/base_new.html" %}

{% block title %}Instrument detail{% endblock %}

{% block heading %}Instrument details for '{{ instrument.name }}'{% endblock %}

{% block sub-nav %}
    {% load get_instruments %}
    {% get_instruments as instrument_list %}
    <table class="condensed-table dimmed">
        <thead>
            <tr>
                <th colspan="2">All instruments</th>
            </tr>
        </thead>
        <tbody>
            {% for item in instrument_list %}
                <tr {% if item == instrument %}class="highlighted"{% endif %}>
                    <td>{{ item.get_linked_name }}</td>
                    <td style="text-align:right;">{% if item.damaged %}<span class="label important">Dmg</span>{% endif %}
                        {% if not item.get_signed_in %}<span class="label warning">MIA</span>{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span2">
            <p><strong>Name:</strong></p>
        </div>
        <div class="span8">
            <p>{{ instrument.name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <p><strong>Type:</strong></p>
        </div>
        <div class="span8">
            <p>{{ instrument.get_instrument_type_display }}</p>
        </div>
    </div>
    {% if instrument.damaged %}
        <div class="row">
            <div class="span2">
                <p><strong>Damage:</strong></p>
            </div>
            <div class="span8">
                <p><span class="label important">This instrument is flagged as damaged</span></p>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="span2">
            <p><strong>Location:</strong></p>
        </div>
        <div class="span8">
            {% if not instrument.get_signed_in %}
                <p><span class="label warning">Missing in action</span></p>
                <ul class="unstyled">
                    {% for b in instrument.bookings.not_signed_in %}
                        <li>
                            {{ b.user.get_profile.get_linked_name }} didn't sign it in after {{ b.event.get_linked_name }}
                            {% if user == b.user %}
                                &nbsp;<a href="{{ b.get_signin_url }}" class="success btn-inline btn pull-right">Sign in</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>In the store room</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <p><strong>Last user:</strong></p>
        </div>
        <div class="span8">
            <p>
                {% with instrument.get_last_booking as b %}
                    {% if b %}
                        {{ b.user.get_profile.get_linked_name }} played {{ instrument.name }} at {{ b.event.get_linked_name }}, {{ b.event.start|timesince }} ago
                    {% else %}
                        Brand new!
                    {% endif %}
                {% endwith %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <p><strong>Next booking:</strong></p>
        </div>
        <div class="span8">
            <p>
                {% with instrument.get_next_booking as b %}
                    {% if b %}
                        {{ b.user.get_profile.get_linked_name }} is playing {{ instrument.name }} at {{ b.event.get_linked_name }} in {{ b.event.start|timeuntil }} time
                    {% else %}
                        No future bookings
                    {% endif %}
                {% endwith %}
            </p>
        </div>
    </div>
    {% if instrument.notes.all.exists %}
        <h3>Instrument history</h3>
        <table>
            <thead>
                <tr>
                    <th width="85px">Date</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                {% for note in instrument.notes.all %}
                    <tr>
                        <td>{{ note.date_made|date:"j M Y" }}</td>
                        <td>{{ note.note|safe }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block options %}
    <p><a href="{{ instrument.get_delete_url }}" class="btn danger">Delete instrument</a></p>
    <p><a href="{{ instrument.get_edit_url }}" class="btn info">Edit instrument</a></p>
    <p><a href="{{ instrument.get_signin_url }}" class="btn success">Sign instrument in</a></p>
    <p><a href="{% url instrument_list %}">Back to instruments list</a></p>
{% endblock %}

{% block bottom %}
    <br>
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    	    <a href="{% url instrument_list %}">Instruments</a>
    	    <span class="divider">/</span>
    	</li>
    	<li class="active">
    		<a href="#">{{ instrument.name }}</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe_content %}
    <ul>
        <li>TODO after adding event functionality:
            <ul>
                <li>Add pagination to the above list of past events, or limit them to the last 10</li>
                <li>Add ability to write notes that aren't related to an event</li>
            </ul>
        </li>
        <li>TODO lower priority:
            <ul>
                <li>Build admin distinction, so buttons aren't shown to everyone</li>
                <li>Make table CSS prettier (flush with rest of content?)</li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block wireframe_links %}
{% endblock %}