{% extends "main/instruments/instrument_detail.html" %}

{% block title %}Delete instrument{% endblock %}

{% block top %}
    <div class="alert-message block-message error">
        <div style="position:absolute; right:10px; top:4px;">
            <form action="" method="post">
                {% csrf_token %}
                <button class="btn" type="submit">Yes, delete this instrument</button> <a class="btn" href="{{ instrument.get_absolute_url }}" style="font-weight:normal;">No, I've changed my mind</a>
            </form>
        </div>
        <p>Are you sure you want to <strong>delete this instrument?</strong></p>
    </div>
{% endblock %}

{% block wireframe_content %}
    <ul>
        <li>TODO: Fix CSS for buttons so it's not embedded in HTML</li>
    </ul>
{% endblock %}

{% block wireframe_links %}
{% endblock %}