{% extends "main/instruments/instrument_detail.html" %}

{% block title %}Edit instrument - {{ instrument.name }}{% endblock %}

{% block heading %}Edit {{ instrument.name }}{% endblock %}

{% block content %}
    {% block description %}
        <p>From here you can edit details of the instrument '{{ instrument.name }}'.</p>
    {% endblock %}
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <div class="clearfix {% if form.name.errors %}error{% endif %}">
                {{ form.name.label_tag }}
                <div class="input">
                    {{ form.name }}
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <span class="help-inline">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-inline">{{ form.name.help_text }}</span>
                    {% endif %}
				</div>
			</div>
            <div class="clearfix {% if form.instrument_type.errors %}error{% endif %}">
                {{ form.instrument_type.label_tag }}
                <div class="input">
                    {{ form.instrument_type }}
                    {% if form.instrument_type.errors %}
                        {% for error in form.instrument_type.errors %}
                            <span class="help-inline">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-inline">{{ form.instrument_type.help_text }}</span>
                    {% endif %}
				</div>
			</div>
			<div class="clearfix">
			    <label id="optionsCheckboxes">Flags</label>
			    <div class="input">
			        <ul class="inputs-list">
			            <li>
			                <label>
			                    {{ form.damaged }}
			                    <span>{{ form.damaged.label }}</span>
			                </label>
			            </li>
			        </ul>
			    </div>
			</div>
    	</fieldset>
        {% block buttons %}
                <div class="input">
                    <button class="btn success" type="submit">Update details</button>
                    <a href="{{ instrument.get_absolute_url }}" class="btn danger">Cancel</a>
                </div>
        {% endblock %}
    </form>
{% endblock %}

{% block bottom %}
    <br>
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    	    <a href="{% url instrument_list %}">Instruments</a>
    	    <span class="divider">/</span>
    	</li>
    	<li>
    	    {{ instrument.get_linked_name }}
    	    <span class="divider">/</span>
    	</li>
    	<li class="active">
    		<a href="#">Edit instrument</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe %}
{% endblock %}