{% extends "main/base.html" %}

{% block title %}Instruments{% endblock %}

{% block nav %}
    {% with "instruments" as active %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block admin_options %}
    <li><a href="{% url instrument_add %}" class="btn success btn-nav">Add instrument</a></li>
{% endblock %}

{% block main %}
    <h1>Instruments <small>owned by the band</small></h1>
    {% load get_instruments %}
    {% get_instruments as instrument_list %}
    <table class="zebra-striped">
        <thead>
            <tr>
                <th>Instrument name</th>
                <th></th>
                <th>Type</th>
                <th>Location</th>
                <th>Last user</th>
                <th>Next user</th>
            </tr>
        </thead>
        <tbody>
            {% for instrument in instrument_list %}
                <tr>
                    <td>{{ instrument.get_linked_name }}</td>
                    <td>{% if instrument.damaged %}<span class="label important">Damaged</span>{% endif %}</td>
                    <td>{{ instrument.get_instrument_type_display }}</td>
                    <td>
                        {% if not instrument.get_signed_in %}
                            <a href="{% url instrument_mia_list %}" class="label warning">Missing in action</a>
                        {% else %}
                            Store room
                        {% endif %}
                    </td>
                    {% with instrument.get_last_booking as b %}
                        <td>{% if b %}{{ b.user.get_profile.get_linked_name }} at {{ b.event.get_linked_name }}{% else %}Brand new!{% endif %}</td>
                    {% endwith %}
                    {% with instrument.get_next_booking as b %}
                        <td>{% if b %}{{ b.user.get_profile.get_linked_name }} at {{ b.event.get_linked_name }}{% else %}No future bookings{% endif %}</td>
                    {% endwith %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li class="active">
    	    <a href="#">Instruments</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe %}
{% endblock %}