{% extends "main/base.html" %}

{% block title %}Delete instrument{% endblock %}
{% block header %}Delete instrument{% endblock %}

{% block content %}
    <ul>
        <li><span class="label notice">Admin</span> Whole page is admin only</li>
        <li>Ask for confirmation that you want to delete an instrument</li>
    </ul>
{% endblock %}

{% block links %}
    <ul>
        <li><a href="{% url instrument_list %}">Back to instrument list</a></li>
        <li><a href="{% url home %}">Back to homepage</a></li>
        <li><a href="{% url index %}">Logout</a></li>
    </ul>
{% endblock %}