{% extends "main/instruments/instrument_detail.html" %}

{% block title %}Delete instrument{% endblock %}

{% block top %}
    <div class="alert-message block-message error">
        <div style="position:absolute; right:10px; top:4px;">
            <form action="" method="post">
                {% csrf_token %}
                <button class="btn" type="submit">Yes, delete this instrument</button> <a class="btn" href="{{ instrument.get_absolute_url }}" style="font-weight:normal;">No, I've changed my mind</a>
            </form>
        </div>
        <p>Are you sure you want to <strong>delete the instrument '{{ instrument.name }}'?</strong></p>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    	    <a href="{% url instrument_list %}">Instruments</a>
    	    <span class="divider">/</span>
    	</li>
    	<li>
    		{{ instrument.get_linked_name }}
    		<span class="divider">/</span>
    	</li>
    	<li class="active">
    		<a href="#">Delete instrument</a>
    	</li>
    </ul>
{% endblock %}

{% block todo %}
    <ul>
        <li>TODO at next opportunity:
            <ul>
                <li>Fix CSS for buttons so it's not embedded in HTML</li>
            </ul>
        <li>TODO lower priority:
            <ul>
                <li>Make decision on whether this should really delete an instrument (would affect old records)</li>
            </ul>
        </li>
    </ul>
{% endblock %}