{% extends "main/base_new.html" %}

{% block title %}Instrument list{% endblock %}

{% block nav %}
    {% with "instruments" as active %}
        {% include 'main/nav.html' %}
    {% endwith %}
{% endblock %}

{% block top %}
    <h1>Instrument list</h1>
    {% load get_instruments %}
    {% get_instruments as instrument_list %}
    <table class="zebra-striped">
        <thead>
            <tr>
                <th>Instrument</th>
                <th>Type</th>
                <th>Location</th>
                <th>Last user</th>
                <th>Last used</th>
                <th>Next booking</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for instrument in instrument_list %}
                <tr>
                    <td><a href="{{ instrument.get_absolute_url }}">{{ instrument.name }}</a></td>
                    <td>{{ instrument.get_instrument_type_display }}</td>
                    <td>{{ instrument.location }}</td>
                    <td>{% if instrument.last_booking %}{{ instrument.last_booking.user.get_profile.name }}{% else %}Brand new!{% endif %}</td>
                    <td>{% if instrument.last_booking %}<a href="{{ instrument.last_booking.event.get_absolute_url }}">{{ instrument.last_booking.event.name }}</a>{% else %}Brand new!{% endif %}</td>
                    <td>{% if instrument.next_booking %}<a href="{{ instrument.next_booking.event.get_absolute_url }}">{{ instrument.next_booking.event.name }}</a>{% else %}No future bookings{% endif %}</td>
                    <td>{% if instrument.damaged %}<span class="label important">Damaged</span>{% endif %}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="8">
                    <a href="{% url instrument_add %}" class="btn success">Add instrument</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block bottom %}
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li class="active">
    	    <a href="#">Instruments</a>
    	</li>
    </ul>
{% endblock %}

{% block wireframe_content %}
    <ul>
        <li>TODO after adding ability to sign instruments back int
            <ul>
                <li>Put sign-in link on this page</li>
            </ul>
        </li>
        <li>TODO low priority
            <ul>
                <li>Add buttons for admins to delete and edit instruments from here</li>
                <li>Should we display notes about instruments here? Consider after adding facility to write notes</li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block wireframe_links %}
    <ul>
        <li><a href="{% url instrument_signin %}">Sign instrument back in</a></li>
        <li><span class="label notice">Admin</span> <a href="#">Delete instrument</a></li>
        <li><span class="label notice">Admin</span> <a href="{% url instrument_edit %}">Edit instrument flag and details</a></li>
    </ul>
{% endblock %}