{% extends "main/instruments/instrument_detail.html" %}

{% block title %}Mark instrument as damaged{% endblock %}

{% block top %}
    <form action="" method="post" class="form-stacked">
        {% csrf_token %}
        <div class="alert-message block-message info">
            <div class="row">
                <div class="span5">
                    <p><strong>Mark '{{ instrument.name }}' as damaged?</strong></p>
                    <p>This will mark this instrument as damaged throughout this site.</p>
                    <p>Please provide a note explaining what's damaged about the instrument</p>
                </div>
                <div class="span10">
                    <fieldset style="padding-top:0; margin-bottom:0;">
                        <div class="clearfix {% if form.note.errors %}error{% endif %}" style="margin-top:0; margin-bottom:0;">
                            <label for="id_note">What's damaged?</label>
                            <div class="input">
                                {{ form.note }}
                                {% if form.note.errors %}
                                    {% for error in form.note.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                {% else %}
                                    <span class="help-block">{{ form.note.help_text }}</span>
                                {% endif %}
            				</div>
            			</div>
            		</fieldset>
            		</fieldset>
                    <div class="alert-actions">
                        <button class="btn" type="submit">Mark as damaged</button>
                        <a class="btn closedim" href="{{ instrument.get_absolute_url }}" style="font-weight:normal;">No, I've changed my mind</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
    	<li>
    		<a href="{% url home %}">Home</a>
    		<span class="divider">/</span>
    	</li>
    	<li>
    	    <a href="{% url instrument_list %}">Instruments</a>
    	    <span class="divider">/</span>
    	</li>
    	<li>
    		{{ instrument.get_linked_name }}
    		<span class="divider">/</span>
    	</li>
    	<li class="active">
    		<a href="#">Mark as damaged</a>
    	</li>
    </ul>
{% endblock %}

{% block todo %}
    <ul>
        <li>TODO at next opportunity:
            <ul>
                <li>Fix CSS for buttons so it's not embedded in HTML</li>
            </ul>
        </li>
    </ul>
{% endblock %}